@font-face {
  font-family: 'my-player-font';
  src:  url('fonts/my-player-font.eot?fupcld');
  src:  url('fonts/my-player-font.eot?fupcld#iefix') format('embedded-opentype'),
    url('fonts/my-player-font.ttf?fupcld') format('truetype'),
    url('fonts/my-player-font.woff?fupcld') format('woff'),
    url('fonts/my-player-font.svg?fupcld#my-player-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-player"], [class*=" icon-player"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-player-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playervolume-medium:before {
  content: "\ea27";
}
.icon-playervolume-mute2:before {
  content: "\ea2a";
}
.icon-playerloop:before {
  content: "\ea2d";
}
.icon-playershuffle:before {
  content: "\ea30";
}
.icon-playerarrowsalt:before {
  content: "\e900";
}
.icon-playershrink:before {
  content: "\e901";
}
.icon-playerfastbackward:before {
  content: "\e902";
}
.icon-playerfastforward:before {
  content: "\e903";
}
.icon-playerpausecircle:before {
  content: "\e904";
}
.icon-playerplay:before {
  content: "\e905";
}
.icon-playerminussquareo:before {
  content: "\e906";
}
.icon-playerbars:before {
  content: "\e907";
}
.icon-playergithub:before {
  content: "\e908";
}

