icomoon-font-path ?= "fonts"

icon-playervolume-medium = "\ea27"
icon-playervolume-mute2 = "\ea2a"
icon-playerloop = "\ea2d"
icon-playershuffle = "\ea30"
icon-playerarrowsalt = "\e900"
icon-playershrink = "\e901"
icon-playerfastbackward = "\e902"
icon-playerfastforward = "\e903"
icon-playerpausecircle = "\e904"
icon-playerplay = "\e905"
icon-playerminussquareo = "\e906"
icon-playerbars = "\e907"
icon-playergithub = "\e908"

